openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Embedded Transactions API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Embedded Transactions
paths:
  /embedded/transactions:
    get:
      operationId: ListTransactions
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_TransactionApiResponse_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: List partner transactions with cursor-based pagination.
      summary: List transactions
      tags:
      - Embedded Transactions
      security:
      - embeddedAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 100
          format: int32
          type: integer
          minimum: 10
          maximum: 1000
      - description: Filter transactions by sender id.
        in: query
        name: senderId
        required: false
        schema:
          type: string
      - description: Sort by transaction creation date.
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
    post:
      operationId: CreateTransaction
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionApiResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Create a transaction for an embedded payment using a locked-in quote.

        Returns the transaction record and deposit instructions for the sender.'
      summary: Create transaction
      tags:
      - Embedded Transactions
      security:
      - embeddedAuth: []
      parameters:
      - in: header
        name: idempotency-key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionRequest'
  /embedded/transactions/{id}:
    get:
      operationId: GetTransactionById
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionApiResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: Get an embedded transaction by id (scoped to the authenticated partner).
      summary: Get transaction by id
      tags:
      - Embedded Transactions
      security:
      - embeddedAuth: []
      parameters:
      - description: The transaction id.
        in: path
        name: id
        required: true
        schema:
          type: string
components:
  schemas:
    SortOrder:
      type: string
      enum:
      - asc
      - desc
    QuoteAmounts:
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
      required:
      - amount
      - currency
      type: object
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    CryptoDepositInstructions:
      properties:
        type:
          type: string
          enum:
          - CRYPTO
        chain:
          type: string
        asset:
          type: string
        address:
          type: string
        memo:
          type: string
        amount:
          properties:
            value:
              type: number
              format: double
            currency:
              type: string
          required:
          - value
          - currency
          type: object
      required:
      - type
      - chain
      - asset
      - address
      - memo
      - amount
      type: object
      additionalProperties: false
    QuoteFeesApiResponse:
      properties:
        airtmFeeAmount:
          type: number
          format: double
        airtmFeePercentage:
          type: number
          format: double
      required:
      - airtmFeeAmount
      - airtmFeePercentage
      type: object
    FiatDepositInstructions:
      properties:
        type:
          type: string
          enum:
          - FIAT
        method:
          type: string
        asset:
          type: string
        reference:
          type: string
        amount:
          properties:
            value:
              type: number
              format: double
            currency:
              type: string
          required:
          - value
          - currency
          type: object
        depositInstructions:
          properties:
            depositMessage:
              type: string
            bankBeneficiaryAddress:
              type: string
            bankBeneficiaryName:
              type: string
            bankAccountNumber:
              type: string
            bankRoutingNumber:
              type: string
            bankAddress:
              type: string
            bankName:
              type: string
            currency:
              type: string
            amount:
              type: string
          required:
          - depositMessage
          - bankBeneficiaryAddress
          - bankBeneficiaryName
          - bankAccountNumber
          - bankRoutingNumber
          - bankAddress
          - bankName
          - currency
          - amount
          type: object
      required:
      - type
      - method
      - asset
      - reference
      - amount
      - depositInstructions
      type: object
      additionalProperties: false
    RefundInstructions:
      properties:
        address:
          type: string
        memo:
          type: string
      required:
      - address
      type: object
      additionalProperties: false
    ExecutionChannel:
      type: string
      enum:
      - DIRECT_OFFRAMP
      - P2P_NETWORK
    DepositInstructions:
      anyOf:
      - $ref: '#/components/schemas/CryptoDepositInstructions'
      - $ref: '#/components/schemas/FiatDepositInstructions'
    TransactionApiResponse:
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/TransactionStatusEnum'
        stellarTransactionId:
          type: string
        refundStellarTransactionId:
          type: string
        quote:
          properties:
            createdAt:
              type: string
            expiresAt:
              type: string
            result:
              properties:
                p2p:
                  properties:
                    baseExchangeRate:
                      type: number
                      format: double
                    netExchangeRate:
                      type: number
                      format: double
                    fees:
                      $ref: '#/components/schemas/QuoteFeesApiResponse'
                    amountToSend:
                      $ref: '#/components/schemas/QuoteAmounts'
                    amountToReceive:
                      $ref: '#/components/schemas/QuoteAmounts'
                  required:
                  - netExchangeRate
                  - fees
                  - amountToSend
                  - amountToReceive
                  type: object
              required:
              - p2p
              type: object
            paymentRailId:
              type: string
            fundingRailId:
              type: string
            receiverId:
              type: string
            senderId:
              type: string
            id:
              type: string
          required:
          - createdAt
          - expiresAt
          - result
          - paymentRailId
          - fundingRailId
          - receiverId
          - senderId
          - id
          type: object
        depositInstructions:
          $ref: '#/components/schemas/DepositInstructions'
        refundInstructions:
          $ref: '#/components/schemas/RefundInstructions'
        createdAt:
          type: string
      required:
      - id
      - status
      - quote
      - depositInstructions
      - createdAt
      type: object
      additionalProperties: false
    TransactionStatusEnum:
      enum:
      - PENDING_FUNDING
      - PROCESSING_WITHDRAW
      - COMPLETED
      - CANCELED
      - REFUNDED
      - DISPUTE_CANCELED
      - DISPUTE_REFUNDED
      type: string
      x-enum-varnames:
      - PENDING_FUNDING
      - PROCESSING_WITHDRAW
      - COMPLETED
      - CANCELED
      - REFUNDED
      - DISPUTE_CANCELED
      - DISPUTE_REFUNDED
    Paginated_TransactionApiResponse_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/TransactionApiResponse'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    CreateTransactionRequest:
      properties:
        quoteId:
          $ref: '#/components/schemas/Uuid'
          description: The ID of the locked-in quote to use for this transaction.
          format: uuid
        executionChannel:
          $ref: '#/components/schemas/ExecutionChannel'
          description: The execution channel to use for this transaction.
        refundInstructions:
          properties:
            memo:
              type: string
              description: Optional memo to attach to the refund (e.g. required by custodial destinations).
            address:
              type: string
              description: The destination address to refund to.
          required:
          - address
          type: object
          description: 'Optional refund destination. When provided, if this transaction is refunded the

            funds are sent to this address (and memo) instead of the original payment source.'
      required:
      - quoteId
      - executionChannel
      type: object
      additionalProperties: false
    Uuid:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
