openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Embedded Catalog API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Embedded Catalog
paths:
  /embedded/catalog:
    get:
      operationId: ListCatalog
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_EmbeddedCatalogRailItem_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'List active payment rails available for embedded payouts (catalog).

        Results are cursor-paginated'
      summary: List payment rail catalog
      tags:
      - Embedded Catalog
      security:
      - embeddedAuth: []
      parameters:
      - description: Country code 3 letter ISO code.
        in: query
        name: country
        required: false
        schema:
          type: string
          minLength: 3
          maxLength: 3
      - in: query
        name: currency
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 10
          format: int32
          type: integer
          minimum: 2
          maximum: 20
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
components:
  schemas:
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    DestinationFieldDescriptor:
      properties:
        required:
          type: boolean
        pattern:
          type: string
        title:
          type: string
        options:
          items:
            type: string
          type: array
        type:
          type: string
      required:
      - required
      type: object
      description: One field in a payout destination form, derived from Vivillon version schema.properties.
    Paginated_EmbeddedCatalogRailItem_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/EmbeddedCatalogRailItem'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    Record_string.DestinationFieldDescriptor_:
      properties: {}
      additionalProperties:
        $ref: '#/components/schemas/DestinationFieldDescriptor'
      type: object
      description: Construct a type with a set of properties K of type T
    EmbeddedCatalogRailItem:
      description: Payment rail row returned for the embedded payments catalog API (public fields only).
      properties:
        id:
          type: string
          description: Payment rail identifier (e.g. airtm:bank:venezuela:mercantil).
        currency:
          type: string
        country:
          type: string
        destinationType:
          type: string
        destinationFields:
          $ref: '#/components/schemas/Record_string.DestinationFieldDescriptor_'
          description: Field definitions for the payout destination form, from Vivillon latest version schema.
        minimumAmount:
          type: number
          format: double
          description: Minimum amount supported by this payment rail.
        maximumAmount:
          type: number
          format: double
          description: Maximum amount supported by this payment rail.
      required:
      - id
      - currency
      - country
      - destinationType
      - destinationFields
      - minimumAmount
      - maximumAmount
      type: object
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
