openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 External Crypto Account API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: External Crypto Account
  description: '# External Crypto Account


    The external crypto account API provides the capability to register an external crypto account where you can withdraw your funds to.'
paths:
  /crypto-accounts:
    post:
      operationId: CreateExternalCryptoAccount
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoExternalAccountResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: Creates a crypto external account for the enterprise.
      summary: Create a crypto external account
      tags:
      - External Crypto Account
      security:
      - basicAuth: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoExternalAccountRequest'
    get:
      operationId: ListExternalCryptoAccounts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_CryptoExternalAccountResponse_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: List paginated external crypto accounts
      summary: List external crypto accounts
      tags:
      - External Crypto Account
      security:
      - basicAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 100
          format: int32
          type: integer
          minimum: 10
          maximum: 1000
      - in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CryptoWalletType'
components:
  schemas:
    CreateCryptoExternalAccountRequest:
      properties:
        type:
          $ref: '#/components/schemas/CryptoWalletType'
          description: The type of crypto wallet to create.
        currency:
          $ref: '#/components/schemas/CryptoCurrency'
          description: The currency of the crypto wallet. Only USDC is supported.
        alias:
          type: string
          description: The alias of the crypto wallet.
        address:
          type: string
          description: The address of the crypto wallet.
        memo:
          type: string
          description: The memo of the crypto wallet.
          example: 1234567890
      required:
      - type
      - currency
      - alias
      - address
      type: object
      additionalProperties: false
    CryptoWalletType:
      enum:
      - stellar usdc
      - ethereum usdc
      type: string
      x-enum-varnames:
      - STELLAR_USDC
      - ETHEREUM_USDC
    Paginated_CryptoExternalAccountResponse_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/CryptoExternalAccountResponse'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    CryptoCurrency:
      enum:
      - USDC
      type: string
      x-enum-varnames:
      - USDC
    CryptoExternalAccountResponse:
      properties:
        id:
          type: string
          description: The UUID of the crypto external account.
        type:
          $ref: '#/components/schemas/CryptoWalletType'
        currency:
          $ref: '#/components/schemas/CryptoCurrency'
        alias:
          type: string
        address:
          type: string
        memo:
          type: string
        createdAt:
          type: string
          format: date-time
          description: The date and time the crypto external account was created.
        updatedAt:
          type: string
          format: date-time
          description: The date and time the crypto external account was updated.
      required:
      - id
      - type
      - currency
      - alias
      - address
      - createdAt
      - updatedAt
      type: object
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
