openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Embedded Quotes API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Embedded Quotes
paths:
  /embedded/quotes:
    post:
      operationId: CreateQuote
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteApiResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Create a quote for an embedded payment.

        Exactly one of `amountToSend` or `amountToReceive` must be provided.'
      summary: Create quote
      tags:
      - Embedded Quotes
      security:
      - embeddedAuth: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
components:
  schemas:
    CreateQuoteRequest:
      properties:
        senderId:
          $ref: '#/components/schemas/Uuid'
          description: The sender id.
          format: uuid
        receiverId:
          $ref: '#/components/schemas/Uuid'
          description: The receiver id.
          format: uuid
        fundingRailId:
          $ref: '#/components/schemas/FundingRailId'
          description: Id of any supported funding rails. Today only "stellar.usdc" is supported. More to come later.
        paymentRailId:
          type: string
          description: 'Payment rail identifier configured for the receiver. This refers to the ID of the payment rail in the catalog.

            Example: airtm:bank:venezuela:mercantil

            Refer to [Catalog](#tag/embedded-catalog) section for more information.'
        amountToSend:
          type: number
          format: double
          description: 'Amount to send in the funding rail asset (USDC).

            Exactly one of amountToSend or amountToReceive must be provided.'
          minimum: 1
        amountToReceive:
          type: number
          format: double
          description: 'Amount to receive in the destination currency.

            Exactly one of amountToSend or amountToReceive must be provided.'
          minimum: 1
        partnerFee:
          type: number
          format: double
          description: Fixed partner fee amount. Currently expected to be 0.00.
      required:
      - senderId
      - receiverId
      - fundingRailId
      - paymentRailId
      type: object
      additionalProperties: false
    FundingRailId:
      enum:
      - stellar.usdc
      type: string
      x-enum-varnames:
      - STELLAR_USDC
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    QuoteAmounts:
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
      required:
      - amount
      - currency
      type: object
    QuoteFeesApiResponse:
      properties:
        airtmFeeAmount:
          type: number
          format: double
        airtmFeePercentage:
          type: number
          format: double
      required:
      - airtmFeeAmount
      - airtmFeePercentage
      type: object
    QuoteApiResponse:
      properties:
        id:
          type: string
        senderId:
          type: string
        receiverId:
          type: string
        fundingRailId:
          type: string
        paymentRailId:
          type: string
        request:
          properties:
            amountToReceive:
              type: number
              format: double
            amountToSend:
              type: number
              format: double
          type: object
        result:
          properties:
            p2p:
              properties:
                baseExchangeRate:
                  type: number
                  format: double
                netExchangeRate:
                  type: number
                  format: double
                fees:
                  $ref: '#/components/schemas/QuoteFeesApiResponse'
                amountToSend:
                  $ref: '#/components/schemas/QuoteAmounts'
                amountToReceive:
                  $ref: '#/components/schemas/QuoteAmounts'
              required:
              - netExchangeRate
              - fees
              - amountToSend
              - amountToReceive
              type: object
          required:
          - p2p
          type: object
        expiresAt:
          type: string
        createdAt:
          type: string
      required:
      - id
      - senderId
      - receiverId
      - fundingRailId
      - paymentRailId
      - request
      - result
      - expiresAt
      - createdAt
      type: object
      additionalProperties: false
    Uuid:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
