openapi: 3.2.0
info:
  title: Airtm Enterprise API V1 Partner API
  version: 1.0.0
  description: '## Introduction


    Welcome to Airtm''s Enterprise Payments API - a comprehensive solution for programmatic payment processing that enables organizations worldwide to send and receive payments efficiently and securely.'
servers:
- url: https://payments.air-pay.io
- url: https://payments.static-stg.tests.airtm.org
tags:
- name: Partner
  description: '## Overview


    The Partner endpoint provides essential information about your Airtm Enterprise account, including account details, configuration settings, balance information, and operational status.'
paths:
  partners/me:
    get:
      security:
      - basicAuth: []
      tags:
      - Partner
      summary: My balance
      description: '## Get partner information


        This endpoint returns information related to your Partner account,

        including current balance.'
      operationId: Partner_partner/my-balance
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: Email with which the partner signed up for Airtm.
                    example: john@acme.com
                  id:
                    type: string
                    description: ID of the partner.
                    example: 53f2349-23r2-523w-ba421-1f23422d42
                  name:
                    type: string
                    description: 'Name of either the Organization of the Partner or the user

                      that created the partner account.

                      '
                    example: John Doe
                  currency:
                    type: string
                    description: 'Currency that the partner has as default for their balance

                      display.

                      '
                    example: USD
                  balance:
                    type: number
                    description: 'Amount in currency set as default of funds available in

                      the partner''s account.

                      '
                    example: 1023.45
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
