openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Deposits API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Deposits
  description: '# Deposits


    The Deposits API provides comprehensive tracking and management of funding transactions for your Airtm Enterprise account.'
paths:
  /deposits:
    get:
      operationId: ListDeposits
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_BridgeDeposit_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      summary: List deposits
      tags:
      - Deposits
      security:
      - basicAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 100
          format: int32
          type: integer
          minimum: 10
          maximum: 1000
  /deposits/{id}:
    get:
      operationId: GetDeposit
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeDeposit'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      summary: Get deposit details
      tags:
      - Deposits
      security:
      - basicAuth: []
      parameters:
      - description: The deposit id
        in: path
        name: id
        required: true
        schema:
          type: string
components:
  schemas:
    BridgeDeposit:
      properties:
        refundedPayoutId:
          type: string
        metadata:
          $ref: '#/components/schemas/Record_string.string_'
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        name:
          type: string
        enterpriseUserId:
          type: string
        type:
          type: string
          enum:
          - funding
          - refunded
          - transfer
          - withdrawal
        currency:
          type: string
        availableBalance:
          type: number
          format: double
        amount:
          type: number
          format: double
        bridgeTransactionId:
          type: string
        id:
          type: string
      required:
      - updatedAt
      - createdAt
      - name
      - enterpriseUserId
      - type
      - currency
      - availableBalance
      - amount
      - bridgeTransactionId
      - id
      type: object
    Paginated_BridgeDeposit_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/BridgeDeposit'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
