openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Reports API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Reports
  description: '# Reports


    Generate detailed financial reports for your Airtm Enterprise account.'
paths:
  /reports:
    post:
      operationId: GenerateReport
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Generate a new report for a given year/month.


        To get a PDF or CSV report, you must first request its generation if it does not already exist.

        To do so, you must provide the year and month'
      summary: Create a Report
      tags:
      - Reports
      security:
      - basicAuth: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportRequest'
    get:
      operationId: ListReports
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_Report_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: List existing reports
      summary: List Reports
      tags:
      - Reports
      security:
      - basicAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The type of report to filter by
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/ReportType'
      - description: The status to filter by
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ReportStatus'
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 12
          format: int32
          type: integer
          minimum: 6
          maximum: 100
  /reports/{id}:
    get:
      operationId: GetReport
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      summary: Get Report Details
      tags:
      - Reports
      security:
      - basicAuth: []
      parameters:
      - description: The report's id
        in: path
        name: id
        required: true
        schema:
          type: string
  /reports/{id}/file:
    get:
      operationId: GetReportFile
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportFile'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: Get a report file
      summary: Get Report File
      tags:
      - Reports
      security:
      - basicAuth: []
      parameters:
      - description: The report's id
        in: path
        name: id
        required: true
        schema:
          type: string
components:
  schemas:
    ReportStatus:
      description: 'The current status of the report


        - `PENDING`: The report is pending generation.

        - `IN_PROGRESS`: The report is currently being generated.

        - `COMPLETED`: The report has been generated and is ready for download.

        - `FAILED`: The report generation failed.'
      enum:
      - PENDING
      - IN_PROGRESS
      - COMPLETED
      - FAILED
      type: string
      x-enum-varnames:
      - PENDING
      - IN_PROGRESS
      - COMPLETED
      - FAILED
    ReportFile:
      description: An Activity Report File
      properties:
        url:
          type: string
          description: The URL of the activity report file.
      required:
      - url
      type: object
      additionalProperties: false
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    Report:
      properties:
        updatedAt:
          type: string
          format: date-time
          description: Report end date
        createdAt:
          type: string
          format: date-time
          description: Report end date
        periodTo:
          type: string
          format: date-time
          description: Report end date
        periodFrom:
          type: string
          format: date-time
          description: Report start date
        status:
          $ref: '#/components/schemas/ReportStatus'
          description: The current status of the report
        enterpriseUserId:
          type: string
          description: Unique ID of the enterprise
          format: uuid
        type:
          $ref: '#/components/schemas/ReportType'
        id:
          type: string
          description: Unique ID of the report
          format: uuid
      required:
      - updatedAt
      - createdAt
      - periodTo
      - periodFrom
      - status
      - enterpriseUserId
      - type
      - id
      type: object
    CreateReportRequest:
      properties:
        year:
          type: number
          format: double
          description: The year of the report to generate
          example: 2025
          minimum: 2023
        month:
          type: number
          format: double
          description: The month of the report to generate
          example: 6
          minimum: 1
          maximum: 12
        type:
          $ref: '#/components/schemas/ReportType'
          description: The type of the report to generate
          example: CSV
      required:
      - year
      - month
      type: object
      additionalProperties: false
    Paginated_Report_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/Report'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    ReportType:
      description: Type of activity report
      enum:
      - PDF
      - CSV
      type: string
      x-enum-varnames:
      - PDF
      - CSV
      example: CSV
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
