openapi: 3.2.0
info:
  title: Airtm Enterprise API V1 Account Status API
  version: 1.0.0
  description: '## Introduction


    Welcome to Airtm''s Enterprise Payments API - a comprehensive solution for programmatic payment processing that enables organizations worldwide to send and receive payments efficiently and securely.'
servers:
- url: https://payments.air-pay.io
- url: https://payments.static-stg.tests.airtm.org
tags:
- name: Account Status
  description: '## Overview


    The Account Status endpoint enables your organization to verify recipient account information before initiating payments.'
paths:
  account-status:
    get:
      security:
      - basicAuth: []
      tags:
      - Account Status
      summary: Get account status
      description: 'Retrieve the current status of any user''s account by providing their

        email in the request headers. The response will return the user''s client

        ID, account status, whether the email corresponds to the primary account

        (Airtm allows up to two secondary emails per account), the country where

        the account is registered, the verification status, and the full name

        registered on the account.


        **The email parameter should be URL Encoded. You can learn more about

        encoding urls here:**

        **https://www.w3schools.com/tags/ref\_urlencode.ASP**'
      operationId: Account Status_account-status/get-account-status
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: String
          example: test-email@gmail.com
          description: Email associated with the account to check.
          default: ''
        description: Email associated with the account to check.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                    description: 'Unique Airtm identifier of the user associated with the

                      email.

                      '
                    example: 4dc6bf66-fc9d-4873-a1f2-9d2c8c9c5b9d
                  status:
                    type: string
                    description: The user's account status (active or inactive).
                    example: active
                  isPrimary:
                    type: boolean
                    description: 'Indicates if the queried email corresponds to the user''s

                      primary email

                      '
                    example: false
                  country_ID:
                    type: string
                    description: 'The ISO alpha-3 code for the country where the user''s ID

                      was issued

                      '
                    example: ARG
                  is_verified:
                    type: boolean
                    description: Indicates whether the user is verified (true or false)
                    example: false
                  fullName:
                    type: string
                    description: The user's full name as registered in Airtm
                    example: Luciano PM
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
