openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Me API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Me
  description: '# Account Management


    The Account Management API provides essential information about your Airtm Enterprise account, including account details, balance information, and configuration settings.'
paths:
  /me:
    get:
      operationId: GetMe
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      summary: Get enterprise details
      tags:
      - Me
      security:
      - basicAuth: []
      parameters: []
  /me/balance:
    get:
      operationId: GeBalance
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Retrieves the current balance of the enterprise.

        It will include both available and pending amounts.


        > [!tip]

        > The pending amount is the sum of all committed pending payouts.'
      summary: Get balance
      tags:
      - Me
      security:
      - basicAuth: []
      parameters: []
components:
  schemas:
    Balance:
      description: Information related to your account.
      properties:
        available:
          type: number
          format: double
          description: Amount available in the account.
          example: 1234.56
        pending:
          type: number
          format: double
          description: Amount committed to pending payouts in the account.
          example: 123.45
      required:
      - available
      - pending
      type: object
      additionalProperties: false
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    Uuid:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
    Me:
      description: Information related to your account.
      properties:
        id:
          $ref: '#/components/schemas/Uuid'
          description: Unique identifier of your account.
        cancelPendingPayoutsAfterDays:
          type: number
          format: double
          description: Number of days after which pending payouts will be automatically canceled.
          example: 90
          default: 90
          minimum: 7
          maximum: 180
        payoutRequireIdVerification:
          type: boolean
          description: 'Indicates whether the enterprise can require ID verification for payouts.


            To enable it, reach out to your account manager.'
          default: false
      required:
      - id
      type: object
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
