openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Bulk Payouts API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Bulk Payouts
  description: '# Bulk Payouts


    Process multiple payouts efficiently in a single batch operation.'
paths:
  /bulk-payouts:
    post:
      operationId: CreateBulkPayout
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPayout'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Create a new bulk payout. You will receive a response with the id of your bulk payout, and the

        processing will start asynchronously after you receive your response.


        You can check in with the progress of your ongoing bulk payout by using the `GET /bulk-payouts/{id}` endpoint.


        If you want to cancel payouts, use the Cancel Payout endpoint.'
      summary: Create a bulk payout
      tags:
      - Bulk Payouts
      security:
      - basicAuth: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBulkPayoutRequest'
    get:
      operationId: ListBulkPayouts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_BulkPayout_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: Endpoint to receive all bulk payouts associated with your account.
      summary: List bulk payouts
      tags:
      - Bulk Payouts
      security:
      - basicAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 100
          format: int32
          type: integer
          minimum: 10
          maximum: 1000
      - in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/BulkPayoutStatus'
  /bulk-payouts/{id}:
    get:
      operationId: GetBulkPayout
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPayout'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Endpoint to retrieve the details of an existing bulk payout. The status `RUNNING` is the default

        after you have posted your bulk payout. It means that the individual payouts are being

        processed and not all of them have been processed yet. Once that has happened, the status will

        switch to `DONE`.


        To list all payouts associated with a specific bulk payout, use the List Payouts

        endpoint and pass the bulk payout id as the `bulkPayoutId` query parameter.'
      summary: Get bulk payout
      tags:
      - Bulk Payouts
      security:
      - basicAuth: []
      parameters:
      - description: The bulk payout id
        in: path
        name: id
        required: true
        schema:
          type: string
components:
  schemas:
    Pick_CreatePayoutRequest.Exclude_keyofCreatePayoutRequest.commit__:
      properties:
        airtmUserEmail:
          type: string
          description: The recipient's email address that is associated with their Airtm account
        amount:
          type: number
          format: double
          description: The payment amount in USD.
          minimum: 0.01
        code:
          type: string
          description: 'A unique code used to identify the payout.

            Populate this value with the identifier on your system.


            > [!important]

            > It must be unique across all existing payouts.'
        enterpriseFee:
          type: number
          format: double
          description: The enterprise fee to apply to the payout
          minimum: 0
        notes:
          type: string
          description: 'An arbitrary string describing the payment.

            This information is displayed to the recipient.

            It''s recommended that the string summarizes the purpose of the payment.'
        internalNote:
          type: string
          description: The description of the payout; visible to internal users
        requireIdVerified:
          type: boolean
          description: Set this to true to require that the recipient is ID-verified
          default: false
      required:
      - airtmUserEmail
      - amount
      - notes
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    BulkPayoutStatus:
      description: 'The current status of the bulk payout


        - `PENDING`: The bulk payout was received, but it has yet to be started

        - `IN_PROGRESS`: Our system is currently processing all the individual payouts contained in this bulk payout.

        - `COMPLETED`: This doesn''t mean all payouts were completed successfully, it may have guest or failed items. It means only that the processing, validations and creation of operations related to that task is completed.

        - `REJECTED`: The enterprise rejected the bulk payout

        - `UNCOMPLETED`: Reserved for future use'
      enum:
      - PENDING
      - IN_PROGRESS
      - UNCOMPLETED
      - COMPLETED
      - REJECTED
      type: string
      x-enum-varnames:
      - PENDING
      - IN_PROGRESS
      - UNCOMPLETED
      - COMPLETED
      - REJECTED
    Paginated_BulkPayout_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/BulkPayout'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    BulkPayout:
      properties:
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of the last update made to the payout.
        executionDate:
          type: string
          format: date-time
          description: Timestamp of when the payout was executed.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the payout was created.
        paidAmount:
          type: number
          format: double
          description: Aggregated amount of all individual payouts in this bulk that were paid
          example: 24
        totalAmount:
          type: number
          format: double
          description: Aggregated amount of all individual payouts in this bulk
          example: 1234.56
        total:
          type: number
          format: double
          description: Number of individual payouts in this bulk
          example: 24
        status:
          $ref: '#/components/schemas/BulkPayoutStatus'
        originalFileName:
          type: string
          description: The name of the file if the bulk payout was created uploading a CSV
        enterpriseUserId:
          type: string
          description: Unique identifier of the enterprise who created this bulk payout
          format: uuid
        id:
          type: string
          description: Unique identifier
          format: uuid
      required:
      - updatedAt
      - createdAt
      - paidAmount
      - totalAmount
      - total
      - status
      - enterpriseUserId
      - id
      type: object
    Omit_CreatePayoutRequest.commit_:
      $ref: '#/components/schemas/Pick_CreatePayoutRequest.Exclude_keyofCreatePayoutRequest.commit__'
      description: Construct a type with the properties of T except for those in type K.
    CreateBulkPayoutRequest:
      properties:
        payouts:
          items:
            $ref: '#/components/schemas/Omit_CreatePayoutRequest.commit_'
          type: array
          description: A list of individual payouts to process in bulk
      required:
      - payouts
      type: object
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
