openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 External Bank Account API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: External Bank Account
  description: '# External Bank Account


    The external bank account API provides the capability to register an external bank account where you can withdraw your funds to.'
paths:
  /bank-accounts:
    post:
      operationId: CreateExternalBankAccount
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankExternalAccountResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: Creates a US or EUR bank external account for the enterprise.
      summary: Create a bank external account
      tags:
      - External Bank Account
      security:
      - basicAuth: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankExternalAccountRequest'
    get:
      operationId: ListExternalBankAccounts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_BankExternalAccountResponse_'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: List paginated external bank accounts
      summary: List external bank accounts
      tags:
      - External Bank Account
      security:
      - basicAuth: []
      parameters:
      - description: Gets results before the specified cursor.
        in: query
        name: before
        required: false
        schema:
          type: string
      - description: Gets results after the specified cursor.
        in: query
        name: after
        required: false
        schema:
          type: string
      - description: The maximum number of items to fetch.
        in: query
        name: perPage
        required: false
        schema:
          default: 100
          format: int32
          type: integer
          minimum: 10
          maximum: 1000
      - in: query
        name: accountType
        required: false
        schema:
          $ref: '#/components/schemas/AccountType'
components:
  schemas:
    BankExternalAccountResponse:
      properties:
        id:
          type: string
          description: The id of the bank external account.
        accountType:
          $ref: '#/components/schemas/AccountType'
          description: The type of account to create.
        currency:
          $ref: '#/components/schemas/Currency'
          description: The currency of the account.
        bankName:
          type: string
          description: The name of the bank.
        accountOwnerName:
          type: string
          description: The name of the account owner.
        businessName:
          type: string
          description: The name of the business.
        address:
          properties:
            country:
              type: string
            postalCode:
              type: string
            state:
              type: string
            city:
              type: string
            streetLine2:
              type: string
            streetLine1:
              type: string
          required:
          - country
          - state
          - city
          - streetLine1
          type: object
          description: The address of the business.
        usAccount:
          properties:
            checkingOrSavings:
              type: string
            routingNumber:
              type: string
            accountNumber:
              type: string
          required:
          - routingNumber
          - accountNumber
          type: object
          description: The account details for US ACH or US Wire accounts.
        iban:
          properties:
            country:
              type: string
            bic:
              type: string
            accountNumber:
              type: string
          required:
          - country
          - bic
          - accountNumber
          type: object
          description: The IBAN details for IBAN accounts.
        swift:
          properties:
            shortBusinessDescription:
              type: string
            purposeOfFunds:
              items:
                type: string
              type: array
            category:
              type: string
            address:
              properties:
                country:
                  type: string
                postalCode:
                  type: string
                state:
                  type: string
                city:
                  type: string
                streetLine2:
                  type: string
                streetLine1:
                  type: string
              required:
              - country
              - state
              - city
              - streetLine1
              type: object
            account:
              properties:
                country:
                  type: string
                bic:
                  type: string
                accountNumber:
                  type: string
              required:
              - country
              - bic
              - accountNumber
              type: object
          required:
          - shortBusinessDescription
          - purposeOfFunds
          - category
          - address
          - account
          type: object
          description: 'Optional: The SWIFT details for IBAN account.

            When accountType is ''iban'', the swift field is optional, meaning you can include it to provide additional SWIFT-specific information (like business context, purpose of funds, etc.), but it''s not required for basic IBAN account creation.'
        createdAt:
          type: string
          description: The date and time the bank external account was created.
        updatedAt:
          type: string
          description: The date and time the bank external account was updated.
      required:
      - id
      - accountType
      - currency
      - bankName
      - accountOwnerName
      - businessName
      - createdAt
      - updatedAt
      type: object
      additionalProperties: false
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    Paginated_BankExternalAccountResponse_:
      description: Represents a paginated collection of items.
      properties:
        items:
          items:
            $ref: '#/components/schemas/BankExternalAccountResponse'
          type: array
          description: The items in the current page.
        startCursor:
          type: string
          description: The cursor for the first item in the current page.
        endCursor:
          type: string
          description: The cursor for the last item in the current page.
      required:
      - items
      type: object
      additionalProperties: false
    Currency:
      enum:
      - USD
      - EUR
      type: string
      x-enum-varnames:
      - USD
      - EUR
    CreateBankExternalAccountRequest:
      properties:
        accountType:
          $ref: '#/components/schemas/AccountType'
          description: The type of account to create.
        currency:
          $ref: '#/components/schemas/Currency'
          description: The currency of the account.
        bankName:
          type: string
          description: The name of the bank.
        accountOwnerName:
          type: string
          description: The name of the account owner.
        businessName:
          type: string
          description: The name of the business.
        address:
          properties:
            country:
              type: string
            postalCode:
              type: string
            state:
              type: string
            city:
              type: string
            streetLine2:
              type: string
            streetLine1:
              type: string
          required:
          - country
          - state
          - city
          - streetLine1
          type: object
          description: The address of the business.
        usAccount:
          properties:
            checkingOrSavings:
              type: string
              enum:
              - checking
              - savings
            routingNumber:
              type: string
            accountNumber:
              type: string
          required:
          - routingNumber
          - accountNumber
          type: object
          description: The account details for US ACH or US Wire accounts.
        iban:
          properties:
            country:
              type: string
            bic:
              type: string
            accountNumber:
              type: string
          required:
          - country
          - bic
          - accountNumber
          type: object
          description: The IBAN details for IBAN accounts.
        swift:
          properties:
            shortBusinessDescription:
              type: string
            purposeOfFunds:
              items:
                type: string
              type: array
            category:
              type: string
              enum:
              - client
              - parent_company
              - subsidiary
              - supplier
            address:
              properties:
                country:
                  type: string
                postalCode:
                  type: string
                state:
                  type: string
                city:
                  type: string
                streetLine2:
                  type: string
                streetLine1:
                  type: string
              required:
              - country
              - state
              - city
              - streetLine1
              type: object
            account:
              properties:
                country:
                  type: string
                bic:
                  type: string
                accountNumber:
                  type: string
              required:
              - country
              - bic
              - accountNumber
              type: object
          required:
          - shortBusinessDescription
          - purposeOfFunds
          - category
          - address
          - account
          type: object
          description: 'Optional: The SWIFT details for IBAN account.

            When accountType is ''iban'', the swift field is optional, meaning you can include it to provide additional SWIFT-specific information (like business context, purpose of funds, etc.), but it''s not required for basic IBAN account creation.'
      required:
      - accountType
      - currency
      - bankName
      - accountOwnerName
      - businessName
      type: object
      additionalProperties: false
    AccountType:
      enum:
      - us_ach
      - us_wire
      - iban
      type: string
      x-enum-varnames:
      - US_ACH
      - US_WIRE
      - IBAN
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
