openapi: 3.2.0
info:
  title: Airtm Enterprise API V2 Users API
  version: 1.155.0
  description: '# Introduction


    The Airtm Enterprise API enables organizations to send and receive payments globally through a simple REST API.'
  contact:
    name: Airtm Enterprise
    email: enterprise@airtm.com
    url: https://www.airtm.com
servers:
- url: https://api.enterprise.airtm.com/v2
- url: https://api.stg.enterprise.airtm.com/v2
tags:
- name: Users
  description: '# Users


    The Users API provides essential user management capabilities for your Airtm Enterprise integration.'
paths:
  /users/{email}:
    get:
      operationId: GetUserByEmail
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: 'Machine-friendly error code


                      See the API error code catalog in the documentation for the endpoint surface you are using.'
                    example: '415096'
                  message:
                    type: string
                    description: Human-readable error message
                    example: Invalid email address
                  data:
                    $ref: '#/components/schemas/Record_string.unknown_'
                    description: Additional data related to the error
                    example:
                      email: invalid@address
                required:
                - code
                - message
                type: object
      description: 'Retrieve the current status of any user''s account by email.


        > [!important]

        > The email parameter should be URL Encoded.'
      summary: Get user details by email
      tags:
      - Users
      security:
      - basicAuth: []
      parameters:
      - description: The email of the user to retrieve
        in: path
        name: email
        required: true
        schema:
          $ref: '#/components/schemas/Email'
components:
  schemas:
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    UserStatus:
      description: Whether the user is active or inactive in Airtm
      enum:
      - active
      - inactive
      type: string
      x-enum-varnames:
      - Active
      - Inactive
    User:
      description: A user in Airtm
      properties:
        id:
          $ref: '#/components/schemas/Uuid'
          description: Unique Airtm identifier of the user associated with the email.
        status:
          $ref: '#/components/schemas/UserStatus'
          description: The user's account status.
        primaryEmail:
          type: boolean
          description: 'Indicates if the queried email corresponds to the user''s primary email


            > [!tip]

            > Airtm allows accounts to register secondary emails'
        firstName:
          type: string
          description: The user's first name as registered in Airtm
        lastName:
          type: string
          description: The user's last name as registered in Airtm
        country:
          type: string
          description: The ISO alpha-3 code for the country where the user's ID was issued
        isVerified:
          type: boolean
          description: Indicates whether the user is verified
      required:
      - id
      - status
      - primaryEmail
      - isVerified
      type: object
      additionalProperties: false
    Email:
      type: string
      pattern: ^(.+)@(.+)$
    Uuid:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Payout Operations
  tags:
  - Payouts
  - Bulk Payouts
  - Users
- name: Payin Operations
  tags:
  - Payins
- name: Account
  tags:
  - Me
  - Deposits
  - Reports
- name: Direct Withdrawal
  tags:
  - External Bank Account
  - External Crypto Account
  - Withdrawals
- name: Webhooks
  tags:
  - Webhooks
